@import "tailwindcss";

@theme{
  --color-title: #E3844E;
  --color-main: #7C7C7C;
  --color-backgroundC: #171515;
  --color-light-gray: #D9D9D9;
  
}

:root{
  background: #171515;
  color: #ffffff;
}
:root{
  background: #171515;
}


@theme inline{
  --font-Nunito-Sans: var(--font-nunito-sans);
  --font-poppins: var(--font-poppins);
  --font-onest: var(--font-onest);
  --font-nova: var(--font-nova_square);
  --font-intrn: var(--font-inter);
  --font-mochy: var(--font-mochy);
}

html {
  scroll-behavior: smooth;
}